.storybook-button {
  font-family: "Open Sans", sans-serif;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border-radius: 6px;
  height: 35px;
  background-color: #fff;
  font-size: 16px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 100px;
}
.storybook-button--primary {
  background: #5655c6;
  color: #fff;
}
.storybook-button--primary:hover {
  background: #525299;
}
.storybook-button--secondary {
  border: 1px solid #5655c6;
  box-sizing: border-box;
  color: #5655c6;
}
.storybook-button--secondary:hover {
  background: #f1eeee;
}
.storybook-button--large {
  height: 42px;
}
